.title {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: center;
	justify-items: left;
	gap: 20px;
}

.hhTitle {
	display: grid;

	align-items: center;

	margin-bottom: 5px;
	grid-template-columns: auto 1fr;
	justify-items: left;
	gap: 20px;
}

.advantagesTitle {
	margin-top: 50px;
}
