.sidebar {
	display: grid;
	align-content: flex-start;
	gap: 20px;
}

.sidebar .logo svg {
	width: 64px;
}

.logo {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;

	cursor: pointer;
}

.brain {
	margin-left: 10px;

	color: var(--primary);

	font-size: 28px;
	font-weight: 700;
}

.app {
	color: var(--gray-dark);

	font-size: 18px;
	font-weight: 300;
}
